$primary-color: #FF00D0;
$secondary-color: #14CCC3;
$accent-color: #FFD619;

.clear{ clear:both; }

.someClass-1{
  width:50%;
  float:left;
  background-color:red;
  padding:15px;
  box-sizing:border-box;

  ul{
    li{
      a{
        color: red;
        &:visited {
            color: green;
        }
        &:hover {
            color: blue;
        }
        &:active, &:focus {
            color: orange;
        }
      }
    }
  }
}

.someClass-2{
  width:50%;
  float:left;
  background-color:blue;
  padding:15px;
  box-sizing:border-box;

  p{

  }
  a{
    color: red;
    &:visited {
        color: green;
    }
    &:hover {
        color: blue;
    }
    &:active, &:focus {
        color: orange;
    }
  }
}
